[package]
name = "btc-stream-charm"
version = "0.1.0"
edition = "2021"

[dependencies]
charms-data = "0.10"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
